.head {
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    position: relative;
    top: 57px;
    padding-bottom: 39px;
    background-attachment: scroll;
    background-position: top;
    margin: 0 0 25px 0;
}

@media all and (max-width: 480px) {
    .head {
        top: 0px !important;
        z-index: 8 !important;
        margin: 0 0 !important;
    }
}

@media (max-width: 960px) {
    .head {
        background-size: cover;
        height: 100%;
        position: relative;
        top: 47px;
        z-index: 8;
        margin: 0 0 74px 0;
        padding-bottom: 35px;
    }
}

.head_box {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 6vh;
    z-index: 14;
    margin-bottom: 55px;
}

#slide_10 {
    top: 2vh;
}

@media all and (max-width: 960px) {
    .head_box {
        top: 3vh !important;
    }
}

@media all and (max-width: 375px) {
    .head_box {
        max-width: 283px;
        margin: 0 auto;
    }
}

@media all and (min-width: 376px) and (max-width: 480px) {
    .head_box {
        max-width: 380px;
        margin: 0 auto;
    }
}

.btn-head {
    border-radius: 20px;
    background-color: #f0ffff00;
    color: #0a0a0a;
    border: 1px solid #199a19ab;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 20px;
    margin: 8px 0;
}

.btn-head:hover {
    background-color: #018201;
    border-color: #039e03;
}

.btn-head:active {
    background-color: #018201;
    border-color: #039e03;
}

.btn-head:focus {
    background-color: #018201;
    border-color: #039e03;
    box-shadow: none;
}

@media all and (max-width: 728px) {
    .btn-head {
        font-size: 13px;
        padding: 10px 20px;
    }
}

.head_nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    flex-direction: column;
    text-align: center;
    margin: 0 0 25px 0;
}

.head_navsub {
    flex: 1 1 100%;
}

.head_navsub2 {
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1200px;
    align-items: flex-start;
    flex-direction: row;
    display: flex;
}

.head_nav_item {
    flex-basis: 100%;
    max-width: 280px;
    margin-bottom: .75em;
}

@media all and (max-width: 960px) {
    .head {
        margin: 0 0 81px 0;
    }
}

.head_nav_item_img {
    background: url(../img/fav_rounded.png);
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-attachment: initial;
}

.head_nav_item_img>i {
    color: #fff;
    font-size: 26px;
    position: relative;
    top: 15px;
}

.slide_1_chat {
    display: flex;
}

.slide_1_chat,
.slide_2_chat,
.slide_3_chat,
.slide_4_chat,
.slide_5_chat,
.slide_5_2_chat,
.slide_6_chat,
.slide_7_chat,
.slide_7_7_chat,
.slide_8_chat,
.slide_8_8_chat,
.slide_9_chat,
.slide_9_9_chat,
.slide_11_chat {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 6vh;
    left: 0;
    align-content: center;
    max-width: 308px;
    border-radius: 13px 13px 13px 0;
    background: #ffffff;
    padding: 0.5rem 1rem;
    text-align: left;
    margin: 0 auto 13px auto;
    box-shadow: 0 6px 16px -3px rgb(107 134 177 / 25%);
    overflow-wrap: break-word;
    line-height: 1.375;
    font-weight: 500;
    font-size: 15px;
}

.slide_10_chat,
.slide_11_chat {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 4vh;
    left: 0;
    align-content: center;
    max-width: 308px;
    border-radius: 13px 13px 13px 0;
    background: #ffffff;
    padding: 0.5rem 1rem;
    text-align: left;
    margin: 0 auto 13px auto;
    box-shadow: 0 6px 16px -3px rgb(107 134 177 / 25%);
    overflow-wrap: break-word;
    line-height: 1.375;
    font-weight: 500;
    font-size: 15px;
}

@media all and (max-width: 960px) {
    .slide_1_chat,
    .slide_2_chat,
    .slide_3_chat,
    .slide_4_chat,
    .slide_5_chat,
    .slide_5_2_chat,
    .slide_6_chat,
    .slide_7_chat,
    .slide_7_7_chat,
    .slide_8_chat,
    .slide_8_8_chat,
    .slide_9_chat,
    .slide_9_9_chat,
    .slide_11_chat {
        top: 4vh;
        max-width: 244px;
        font-size: 12px;
        padding: 14px;
    }
    .slide_10_chat,
    .slide_11_chat {
        top: 4vh;
        max-width: 244px;
        font-size: 12px;
        padding: 14px;
    }
}

#slide_9 {
    top: 0vh;
}

#slide_9 {
    top: 2vh;
}

.display_none {
    display: none !important;
}

.b_s {
    font-weight: 600;
    color: #55c515;
}

.form_date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin: 8px 0px;
}

@media all and (max-width: 480px) {
    #slide_4 .form_date {
        display: block;
        width: 251px;
    }
}

.form_end {
    display: block;
    margin: 20px 0px 0 0;
}

#form_date select {
    border-radius: 11px;
    font-weight: 600;
    color: #8e8e8e;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #64696d54;
    border-radius: 15px;
    margin: 20px auto;
    width: 285px;
}

.progress-bar-perso {
    background-color: rgba(218, 40, 143, 0.64);
    border-radius: .5rem;
}

.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 312px;
    padding: .34375rem 0.5rem;
    background: #de5656;
    border-radius: 6px;
}

@media all and (max-width: 960px) {
    .message {
        margin: 13px 0 0 0;
        width: 300px;
    }
    .error {
        font-size: 11px !important;
    }
}

.error {
    flex: 1 1 0;
    text-align: left;
    color: #ffffff;
    font-size: .75rem;
    font-weight: 600;
    line-height: normal;
}

.icon {
    font-weight: 600;
    line-height: normal;
}

.icon i {
    color: #fff;
}

#ville {
    max-width: 310px;
}

.icon_marker {
    color: #a28f8f;
}

#form_ville input {
    border-radius: 11px;
    font-weight: 600;
    color: #8e8e8e;
}

#form_prenom input {
    border-radius: 11px;
    font-weight: 600;
    color: #8e8e8e;
}

#form_email input {
    border-radius: 11px;
    font-weight: 600;
    color: #8e8e8e;
}

#form_password input {
    border-radius: 11px;
    font-weight: 600;
    color: #8e8e8e;
}

#form_choix input {
    border-radius: 11px;
    font-weight: 600;
    color: #8e8e8e;
}

.gaetan {
    color: black;
}

.slide_9_9_chat {
    font-size: 12px;
}

.checkp,
.checke {
    font-size: 12px;
    width: 223px;
    color: white;
}

.btn-end {
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    text-align: center;
    display: flex;
}

@media all and (max-width: 480px) {
    #submit {
        margin: 17px 0 0 0 !important;
    }
    #jour,
    #mois {
        margin-bottom: 10px;
    }
}

.heartb {
    margin: 0 auto 15px auto;
    display: flex;
}

.icon_home {
    font-size: 70px;
}

.mobile_pres {
    height: 100%;
    width: 100%;
    background: #f5f6f9;
}

.mobile_pres h2 {
    color: #d48d24;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}

.mobile_pres .second_title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
}

.third_title {
    color: #b3b3b3;
    width: 47%;
    margin: 0 auto 3.75em auto;
}

@media all and (max-width: 480px) {
    .third_title {
        width: 93%;
    }
}

.desc_p {
    font-weight: normal;
}

.mobile_pres2 {
    height: 100%;
    width: 100%;
    background: #fff;
}

.mobile_pres3 {
    height: 100%;
    width: 100%;
    background: #f5f6f9;
}

.img_mob_pres {
    max-width: 589px;
    margin-bottom: 1.5rem;
    padding: 0;
    border-radius: 15px;
}

@media all and (max-width: 768px) {
    .img_mob_pres {
        width: 261px;
    }
    .mobile_pres {
        height: auto;
    }
}

.mobile_pres2_img {
    width: 170px;
}

.mobile_pres2_p {
    width: 375px;
}

@media all and (max-width: 768px) {
    .mobile_pres2_img {
        width: 106px;
    }
    .mobile_pres2_p {
        width: 100%;
    }
}

.mobile_pres4 {
    height: 100%;
    width: 100%;
    background: #ed147d;
}

.mobile_pres4 h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    color: #ffffff;
}

.mobile_pres4_totop {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.42857;
    background: #fff;
    box-shadow: 0 6px 16px -3px rgb(107 134 177 / 25%);
    color: #ed147d;
    height: 44px;
    padding: 0 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    transition: all .2s ease-out;
    border: 0;
    border-radius: 2.25rem;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
}

.mobile_pres4_totop:hover {
    background: #d5d7dc;
}

.mobile_pres4_totopimg {
    width: 24px;
    height: 24px;
    margin-right: .5rem;
}

.mobile_pres3_img {
    width: 560px;
}

@media all and (max-width: 768px) {
    .mobile_pres3_img {
        width: 100%;
    }
}

.cyber_img {
    width: 100%;
}

.mobile_arcel_p {
    width: 100%;
}

.mobile_arcel {
    height: 100%;
    width: 100%;
    background: #ffffff;
}

.mobile_controle {
    height: 100%;
    width: 100%;
    background: #f5f6f9;
}

.mobile_controle_p {
    width: 100%;
}

.icon_controle {
    font-size: 38px;
    color: white;
    background: #ed147d;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.mobile_rencontre {
    height: 100%;
    width: 100%;
    background: #ffffff;
}

.mobile_rencontre h2 {
    color: #d48d24;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}

.mobile_rencontre .second_title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
}

.card {
    max-width: 520px;
    border-radius: 1.625rem;
    box-shadow: 0 6px 16px -3px rgb(107 134 177 / 25%) !important;
}

.card img {
    border-radius: 1.625rem 0 0 1.625rem;
    width: 130px;
    height: 130px;
}

.card-body {
    font-size: 15px;
}

.title-card {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
}

.rounded_img {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    top: 43px;
    background: #ffffffff;
    border-radius: 50%;
    z-index: 9;
    width: 87px;
    height: 87px;
}

.mobile_rencontre_ser {
    height: 100%;
    width: 100%;
    background: #f5f6f9;
}

.mobile_rencontre_ser h2 {
    color: #d48d24;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}

.mobile_rencontre_ser .second_title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
}

@media all and (max-width: 480px) {
    .controle_c {
        text-align: center;
    }
    .icon_controle {
        margin: 0 auto;
    }
}

.mobile_rencontre_ser_img {
    width: 100%;
}

.mobile_rencontre_language {
    height: 100%;
    width: 100%;
    background: #ffffff;
}

.mobile_language_d {
    padding-top: 4em;
}

@media all and (max-width: 480px) {
    .mobile_language_d {
        padding-top: 0;
    }
}

.mobile_controle_d {
    padding-top: 5em;
}

@media all and (max-width: 480px) {
    .mobile_controle_d {
        padding-top: 0;
    }
}

.mobile_rencontre_language h2 {
    color: #d48d24;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
}

.mobile_rencontre_language .second_title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
}

.bordered_img {
    border-radius: 50px;
}

.mobile_rencontre_descript {
    height: 100%;
    width: 100%;
    background: #f5f6f9;
}

.mobile_mot_d {
    padding-top: 3em;
}

.mobile_rencontre_mot {
    height: 100%;
    width: 100%;
    background: #ffffff;
}

.footer_register {
    background-color: #1f2f49;
    height: 90px;
    width: 100%;
}

.footer_register_title {
    color: #ffffff;
    position: relative;
    text-align: center;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
}

.footer_register_col {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    padding: 27px 0;
}

.footer_register_img {
    flex-shrink: 0;
    margin-bottom: 0;
    width: 161px;
}

@media all and (max-width: 480px) {
    .footer_register_col {
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        padding: 15px 0;
        flex-wrap: wrap;
    }
    .footer_register {
        background-color: #1f2f49;
        height: 100%;
        width: 100%;
    }
    .footer_register_title {
        padding-bottom: 16px;
    }
}

.footer_register_totop {
    cursor: pointer;
}

.box_login {
    display: none;
    width: 420px;
    height: auto;
    padding: 1rem;
    background: rgb(255 255 255 / 36%);
    margin: 0 auto;
    position: relative;
    top: 1px;
    border-radius: 0 20px 0 20px;
    min-height: 274px;
}

@media all and (max-width: 480px) {
    .box_login {
        width: 328px;
        top: 22px;
    }
}

.login-label {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.42857;
    margin-bottom: 6px;
}

.login-email-input,
.login-password-input,
.forgot-email-input {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.42857;
    width: 100%;
    height: 2.3125rem;
    padding: .5rem;
    transition: box-shadow .3s ease-out;
    border-width: 0;
    border-radius: .5rem;
    outline: 0;
    box-shadow: 0 0 0 2px #d9dde5;
    font-size: .875rem;
    font-weight: 600;
}

.login-input {
    margin-top: 1rem;
}

.btn-login {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.42857;
    width: 90%;
    min-height: 38px;
    margin-top: 1rem;
    padding: 8px 0;
}

.btn-login:focus {
    background: #018201;
    border: 1px solid #199a19ab !important;
}

.link_register {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
    color: #000000;
}

.link_register:hover {
    color: #000000;
}

.sp_register {
    font-size: 13px;
    color: #000000;
}

.loader_login {
    display: none;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    padding: 84px 0;
}

.loader_logins {
    display: none;
    margin: 0 auto;
    font-size: 50px;
    text-align: center;
    padding: 84px 0;
}

.message_danger {
    font-size: 14px;
    text-align: center;
}

.message_success {
    font-size: 14px;
    text-align: center;
}

#alert_success {
    margin: 68px 0;
}

#alert_danger {
    margin: 68px 0;
}

.back_error_login {
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    width: 57px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

.back_success_login {
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    color: #000000;
    width: 57px;
    margin: 0 auto;
    padding: 10px 0 0 0;
}

.show_password,
.hide_password {
    display: flex;
    position: absolute;
    top: 123px;
    right: 17px;
    bottom: 0;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 0 13px;
    border: 0;
    outline: 0;
    background-color: transparent;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
}

.check_login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.check_l_i {
    display: flex;
    align-items: center;
}

.remember-me[type=checkbox] {
    flex-shrink: 0;
    margin-right: .5rem;
    transition: box-shadow .3s ease-out;
    outline: 0;
    box-shadow: 0 0 0 2px #d9dde5;
    position: relative;
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: .25rem;
    background-color: #fff;
}

.remember-me:focus {
    box-shadow: 0 0 0 2px #ed147d;
}

.remember-me:checked[type=checkbox] {
    background-image: none
}

.remember-me:checked[type=checkbox] {
    background-image: url(../img/checkmark-1107838dfd7.svg)
}

.remember-me[type=checkbox]:checked::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ed147d;
    -webkit-mask: url(../img/checkmark-1107838dfd7.svg);
    mask: url(../img/checkmark-1107838dfd7.svg);
}

.remember-me-label {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
}

.forgot-password {
    font-size: .75rem;
    font-weight: 500;
    line-height: normal;
    border: 0;
    outline: 0;
    background: 0;
    color: #45a2db;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.forgot-password:hover {
    color: #45a2db;
}

.forgot-login-title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.forgot-login-desc {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.42857;
    margin-bottom: 14px;
}

.forgot-email-show {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.375;
    text-align: center;
}

.forgot-p {
    font-size: .85rem;
    font-weight: 600;
    line-height: normal;
    text-align: left;
}

#forgot-final {
    margin: 26px 0;
}

.loader {
    width: 50px;
    margin: 50px auto;
    height: 50px;
}

.loader .heart {
    position: absolute;
    width: 50px;
    height: 45px;
    opacity: 0.6;
    -webkit-animation: beat 3.0s infinite ease-in-out;
}

.loader {
    width: 50px;
    margin: 50px auto;
    height: 50px;
}

.loader .heart {
    position: absolute;
    width: 50px;
    height: 45px;
    opacity: 0.6;
    -webkit-animation: beat 3.0s infinite ease-in-out;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 25px;
    top: 0;
    width: 25px;
    height: 40px;
    background: #FF69B4;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.fushiaHeart:before,
.fushiaHeart:after {
    background: #ff1d8e;
}

.pinkHeart:before,
.pinkHeart:after {
    background: #FF0080;
}

.heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.loader .heart2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.loader .heart3 {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
}

.loader .heart4 {
    -webkit-animation-delay: -2.0s;
    animation-delay: -2.0s;
}

.loader .heart5 {
    -webkit-animation-delay: -2.5s;
    animation-delay: -2.5s;
}

@-webkit-keyframes beat {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}


/*spinner */

.spinner {
    margin: 50px auto 0;
    width: 100%;
    text-align: center;
}

.spinner .heart {
    width: 50px;
    height: 45px;
    display: inline-block;
    opacity: 0.8;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.heart:before,
.heart:after {
    background: #ff1d8e;
}

.spinner .heart1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .heart2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.search {
    min-height: 150px;
}

.error_premium {
    margin: 0 auto;
    text-align: center;
}

.error_premium img {
    max-width: 255px;
}

@media all and (max-width: 728px) {
    .error_premium img {
        max-width: 165px;
    }
    .error_premium h4,
    p {
        font-size: 16px;
    }
}

.error_premium_d {
    margin-bottom: 3rem !important;
}

input[type='range']::-webkit-slider-thumb {
    cursor: ew-resize;
    background: rgb(202, 77, 181);
    color: rgb(202, 77, 181);
}

input[type='range']::-webkit-slider-thumb:active {
    cursor: ew-resize;
    background: rgb(189, 52, 166);
    color: #972491;
    border: 1px solid #972491;
}

.edit-select {
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.42857;
    width: 100%;
    height: 2.3125rem;
    padding: .5rem;
    transition: box-shadow .3s ease-out;
    border-width: 0;
    border-radius: .5rem;
    outline: 0;
    box-shadow: 0 0 0 2px #d9dde5;
    font-size: .875rem;
    font-weight: 600;
    margin-top: 0.25rem;
    margin-bottom: 1.35rem;
}

.edit-select:focus {
    border-color: transparent !important;
    outline: 0;
    box-shadow: 0 0 0 2px #d9dde5 !important;
}

.search_profil {
    min-height: 880px;
}

.loader {
    display: flex;
    min-height: 880px;
    align-items: center;
    margin: 0 auto;
}

.separator {
    height: 15px;
}

.card-desc {
    text-overflow: ellipsis;
    height: 67px;
    content: "";
    width: 100%;
    padding: 0 15px 0 0;
    overflow: auto;
}

.card-body {
    padding: 1rem 1rem 1rem 1rem;
}

@media all and (max-width: 768px) {
    .card-body {
        padding: 1rem 1rem 1rem 1rem;
    }
    .card-desc {
        font-size: 13px;
    }
    .card-text {
        font-size: 13px;
    }
}

.card-desc::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.card-desc::-webkit-scrollbar-thumb {
    background: linear-gradient(40deg, #FF8A8A 20%, #F771D1 40%, #A18AFF 60%, #4CD2FF 80%, #6AFC82 100%);
    border-radius: 0px;
}

.card-desc ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(40deg, #FF5757 20%, #FF61D0 40%, #9278FA 60%, #24C5FF 80%, #43F761 100%);
}

.card-desc ::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

.card-title {
    margin-bottom: 0.8rem;
}

.empty_click_card {
    max-width: 161px !important;
    max-height: 130px !important;
}

.empty_click_card img {
    border-radius: 1.625rem;
}

.avatar {
    transition: opacity 0.5s;
    cursor: pointer;
}

.avatar:hover {
    opacity: 0.8;
}

.empty_click_card_desc {
    display: none;
}

.avatars {
    width: 160px !important;
    height: 100% !important;
}

.box_profil {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.profil_link {
    text-decoration: none;
    color: black;
    transition: all 1s;
}

.profil_link:hover {
    color: rgb(202, 77, 181);
}

.hearts,
.hearts_cancel {
    cursor: pointer;
}

.msg {
    cursor: pointer;
}

@media all and (max-width: 768px) {
    .avatars {
        width: 100% !important;
        height: 100% !important;
        border-radius: 1.625rem 1.625rem 0 0 !important;
    }
}

.empty_result {
    text-align: center;
    margin: 50px 0;
    font-size: 20px;
    font-weight: 500;
}

.btn-soeur-profil-msg {
    cursor: pointer;
}