.banniere {
  margin: 0 auto;
  text-align: center;
  min-width: 546px;
}

#levels {
  padding: 2vw;
}

.banniere img {
  max-width: 620px;
  width: 100%;
}

.header_level {
  max-width: 890px;
  height: 130px;
  margin: 0 auto;
  padding: 12px 20px;
  background: #fdfcee57;
  border-radius: 15px;
  border: 3px solid #c2805387;
  min-width: 546px;
}

@media all and (max-width: 1536px) {
  .header_level {
    max-width: 770px;
  }
}

.header_items {
  max-width: 890px;
  height: auto;
  text-align: left;
  margin: 0 auto;
  padding: 0 0;
  border-radius: 15px;
  border: 0;
}

@media all and (max-width: 1536px) {
  .header_items {
    max-width: 770px;
  }
}

.header_items div {
  text-align: left;
  display: block;
  font-weight: 700;
  font-family: 'Henny', sans-serif;
  margin: 0 0;
  letter-spacing: 7px;
  width: 100%;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.header_level .left {
  height: 40px;
  float: left;
  width: 60%;
}

.right {
  height: 40px;
  float: left;
  text-align: right;
  width: 40%;
  border-left: 2px dashed #383434;
}

.header_level .left div {
  text-align: left;
  display: block;
  font-weight: 700;
  font-family: 'Henny', sans-serif;
  margin: 0 0;
  letter-spacing: 1px;
  line-height: 40px;
  width: 100%;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.header_level .left div:nth-child(2) {
  float: left;
}

.etoile {
  width: 31px;
}

.winGame .etoile {
  width: 45px;
  filter: drop-shadow(0px 0px 5px #ff612e);
}

.winGame .etoile_t {
  transform: translateY(25px);
}

.etoile_op {
  opacity: 0.4;
}

.wingame {
  max-width: 280px;
  margin: 30px auto;
  display: block;
}

#level_1 {
  width: 100%;
  padding: 0 5vw;
  margin: 0 auto;
  text-align: center;
}

#level_1 .grid-row-wrapper {
  display: contents;
}

#level_1 .grid-row-wrapper>.grid-item {
  background: skyblue;
}

.level_2 .right .etoile {
  width: 31px;
}

.level_2 .right .etoile_op {
  opacity: 0.4;
}

#level_2 {
  width: 100%;
  padding: 0 5vw;
  margin: 0 auto;
  text-align: center;
}

#level_2 .grid-row-wrapper {
  display: contents;
}

#level_2 .grid-row-wrapper>.grid-item {
  background: skyblue;
}

table tr .cell {
  color: white;
}

.tbl {
  margin: auto;
  border-radius: 16px;
  border: 3px dashed rgb(76 67 67 / 61%);
  min-width: 546px;
}

td {
  max-width: 100px;
  max-height: 100px;
  position: relative;
  font-family: 'Henny', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.winGame {
  max-width: 890px;
  margin: 15px auto;
  padding: 0 0;
  display: none;
  text-align: center;
  border-radius: 20px;
  border: 3px dashed #d5b59c;
  background: url('https://s2.favim.com/orig/150704/beautiful-colorful-fantasy-gradient-Favim.com-2897823.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.winGame p {
  font-family: 'Henny', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
  text-shadow: 0 0 4px #56565657;
  letter-spacing: 12px;
  text-transform: uppercase;
  margin: 25px;
  color: #565656fa;
  margin-top: 60px;
  transform: skewY(357deg);
}

.start_des {
  float: right;
}

#start_des {
  width: 175px !important;
}

#play_after {
  display: none;
  margin: 0 auto;
  max-width: 250px;
  transform: scale(1);
  animation: pulse 2s infinite;
}

.level_after {
  max-width: 456px;
  transform: scale(1);
  animation: pulse 2s infinite;
}

.coins_after {
  max-width: 456px;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.95);
  }
}

.des {
  margin: 0 auto;
  text-align: center;
}

.des_img {
  width: 55px;
}

.des a {
  display: block;
  width: 280px;
}

.des_load {
  opacity: 0.5;
  pointer-events: none;
}

.score p {
  font-weight: 700;
  font-family: 'Henny', sans-serif;
  font-size: 30px;
  letter-spacing: 10px;
}

.score {
  display: inline-block;
  background: #000000ad;
  box-shadow: 4px 4px 0px #00000017;
  border: 2px dotted #0c0c0c26;
  color: white;
  padding: 10px 9px;
  width: auto;
  text-align: center;
  border-radius: 16px;
  font-size: 17px;
  margin: 0 0;
  height: 50px;
  line-height: 33px;
  letter-spacing: 0;
}

.score.level5 {
  background: #515050ad;
  box-shadow: 4px 4px 0px #9a969617;
}

.des_trefle {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin-right: 7px;
  position: relative;
  top: -1px;
}

.des_lingo {
  height: 25px;
  display: inline-block;
  margin-right: 7px;
  position: relative;
  top: -1px;
}

.des_coin {
  height: 25px;
  display: inline-block;
  margin-right: 7px;
  position: relative;
  top: -1px;
}

.des_bambou {
  height: 30px;
  display: inline-block;
  margin-right: 7px;
  position: relative;
  top: -1px;
}

.des_rubis {
  height: 30px;
  display: inline-block;
  margin-right: 7px;
  position: relative;
  top: -1px;
}

.cell {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 3;
  font-size: inherit;
  margin: 2px;
}

.player1 {
  position: absolute;
  top: 8px;
  left: 8px;
}

.bubble {
  background: url('../../public/img/level/bubble.png');
  background-size: 30px;
  width: 31px;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 30px;
  z-index: 9;
}


#logouts {
  display: inline-block;
  margin-right: 10px;
  transition: all 1s;
}

#logouts:hover {
  transform: rotate(338deg);
}

#logouts img {
  cursor: url('../../public/cursor/cursor-1.png'), pointer;
  width: 32px;
}

#pig_btn img {
  width: 50px;
  margin-right: 10px;
}

#pig_btn {
  transition: all 1s;
}

#pig_btn:hover {
  filter: drop-shadow(0 7px 4px #e87191);
}

#shop {
  width: 90%;
  margin: 3vw auto 3vw auto;
}

#shop input {
  color: white;
}

.empty_coin {
  background: #ffffffb3;
  color: #000;
  border: 2px dashed #00000094;
  display: block;
  padding: 20px;
  width: 100%;
}

.empty_coin p {
  font-family: 'Henny', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
  text-shadow: 0 0 4px #56565657;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
  color: #565656fa;
  margin-top: 34px;
  transform: skewY(0deg);
}

#chest_btn {
  cursor: url('../../public/cursor/cursor-1.png'), pointer;
}

#chest_btn img {
  width: 45px;
  margin-right: 10px;
  animation: ChestBonus 2s cubic-bezier(.36, .07, .19, .97) infinite;
  transform: none;
}

.chest_bonus {
  animation: ChestBonus 2s cubic-bezier(.36, .07, .19, .97) infinite;
  transform: none;
  filter: drop-shadow(0 3px 5px #ffaf26);
}

.bombe_implode {
  transform: initial;
  animation-name: BombeExplode;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-play-state: running;
  filter: drop-shadow(0 3px 5px #ff4e26);
}

.bombe2_implode {
  transform: initial;
  animation-name: BombeExplode2;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  filter: drop-shadow(0 3px 5px #ff2626);
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.chest {
  background: url('../../public/img/level/chest_open.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 50px !important;
  opacity: 1 !important;
  z-index: 1 !important;
  background-size: 50px !important;
  width: 50px !important;
  height: 50px !important;
  top: -50px !important;
  left: -2px !important;
  transform: rotate(0deg) !important;
  position: relative !important;
}

@keyframes ChestBonus {

  10%,
  90% {
    transform: translate3d(0, 1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }

}

@keyframes PotionExplode {

  10%,
  90% {
    transform: translate3d(0, 1px, 0);
  }

  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }

}


@keyframes BombeExplode {

  0% {
    transform: scale(0.75) + rotate(0deg);
  }

  70% {
    transform: scale(2) + rotate(360deg);
  }

  100% {
    transform: scale(0.75) + rotate(-360deg);
  }

}

@keyframes BombeExplode2 {

  0% {
    transform: rotate(-0.8);
  }

  100% {
    transform: scale(2)
  }

}

.bombe.bombe_explode {
  background: url('../../public/img/level/explosion1.gif') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  z-index: 10 !important;
  background-size: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  position: fixed !important;
  filter: opacity(0.8);
  animation: fadeIn2 1s linear
}


.bombe_2.bombe2_explode {
  background: url('../../public/img/level/explosion2.gif') !important;
  background-repeat: no-repeat !important;
  background-color: #000000 !important;
  background-position: center !important;
  z-index: 10 !important;
  background-size: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  position: fixed !important;
  filter: opacity(0.8);
  animation: fadeIn2 1s linear
}

.potion2_implode {
  transform: initial;
  animation: wiggle 1.5s infinite;
  filter: drop-shadow(0 3px 5px transparent);
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    filter: drop-shadow(0 3px 5px transparent) !important;
  }

  80% {
    transform: rotate(0deg);
    filter: drop-shadow(0 3px 5px transparent) !important;
  }

  85% {
    transform: rotate(15deg);
    filter: drop-shadow(0 3px 5px #084298) !important;
  }

  95% {
    transform: rotate(-15deg);
    filter: drop-shadow(0 3px 5px #084298) !important;
  }

  100% {
    transform: rotate(0deg);
    filter: drop-shadow(0 3px 5px transparent) !important;
  }
}

.monstre_1.monstre_explode {
  background: url('../../public/img/level/animationmonstre1.gif') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  z-index: 10 !important;
  background-size: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  position: fixed !important;
  filter: opacity(1);
  animation: fadeIn 2s linear;
}

.monstre_2.monstre2_explode {
  background: url('../../public/img/level/animationmonstre2.gif') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  z-index: 10 !important;
  background-size: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  position: fixed !important;
  filter: opacity(1);
  animation: fadeIn 2s linear;
}

.potion_2.potion2_explode {
  background: url('../../public/img/level/animationpotion2.gif') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: #000000 !important;
  z-index: 10 !important;
  background-size: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  position: fixed !important;
  filter: opacity(0.8);
  animation: fadeIn 2s linear;
}

.potion_1.potion_explode {
  background: url('../../public/img/level/animationpotion1.gif') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: #000000 !important;
  z-index: 10 !important;
  background-size: 100% !important;
  min-width: 100% !important;
  min-height: 100% !important;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  position: fixed !important;
  filter: opacity(0.8);
  animation: fadeIn 2s linear;
}

@keyframes fadeIn {
  0% {
    filter: opacity(0);
  }

  100% {
    filter: opacity(0.8);
  }
}

@keyframes fadeOut {
  0% {
    filter: opacity(0.8);
  }

  100% {
    filter: opacity(0);
  }
}

@keyframes fadeIn2 {
  0% {
    filter: opacity(0);
  }

  100% {
    filter: opacity(0.8);
  }
}

@keyframes fadeOut2 {
  0% {
    filter: opacity(1);
  }

  100% {
    filter: opacity(0);
  }
}

@keyframes fadeIn3 {
  0% {
    filter: opacity(0);
  }

  100% {
    filter: opacity(0.8);
  }

}

@keyframes fadeOut3 {
  0% {
    filter: opacity(0.8);
  }

  100% {
    filter: opacity(0);
  }
}

.chest_opening {
  filter: blur(3px);
  transition: all 1s ease-in-out;
}

.bonus_chest {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

.modal_chest {
  background: #00000091 !important;
  color: white !important;
}

.modal_chest .modal-header {
  border-bottom: 1px solid #dee2e636;
}

.modal_chest .modal-footer {
  border-top: 1px solid #dee2e636;
}

.modal_chest .modal-title {
  font-weight: 700;
  font-family: 'Henny', sans-serif;
  font-size: 21px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 5px;
}

.modal_chest .modal-body h3 {
  font-weight: 700;
  font-family: 'Henny', sans-serif;
  letter-spacing: 6px;
  line-height: 33px;
  font-size: 20px;
  margin: 13px 0;
}

.close_chest_bonus {
  cursor: url('../../public/cursor/cursor-1.png'), pointer !important;
  width: 150px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 6px;
  padding: 5px 0;
  margin: 0 auto !important;
  height: 45px;
}

.close_chest_bonus:hover {
  transform: translateY(0);
  background: #44b33cad;
}

#chest_btn_open {
  cursor: url('../../public/cursor/cursor-1.png'), pointer !important;
}

@keyframes ChestOpen {

  10%,
  90% {
    transform: translate3d(1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }

}

#grid_bonus {
  display: none;
}

.grid_bonus {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px 0;
  justify-content: space-evenly;
}

.grid_bonus .item img {
  width: 25px;
  margin-right: 15px;
  text-align: center;
}

.grid_bonus .item:nth-child(1) img {
  width: 20px;
}

.grid_bonus .item span {
  font-weight: 700;
  font-family: 'Henny', sans-serif;
}

.bonus_time {
  display: none;
  text-align: center;
  margin: 25px auto 0 auto;
}

.bonus_time span {
  font-weight: 700;
  font-family: 'Henny', sans-serif;
  letter-spacing: 6px;
  font-size: 20px;
  margin: 0 10px;
}

.chest_openings {
  filter: drop-shadow(0px 0px 7px #ffffffd9);
}

.card_game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 30px 0;
}

.card_game .cards {
  background: url('../../public/img/level/card_game.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 100%;
  height: 240px;
  filter: drop-shadow(0 5px 7px black);
  animation: cards 3s infinite;
  transition: 1s all;
}

@keyframes cards {

  0% {
    filter: drop-shadow(0 5px 7px black);
  }

  50% {
    filter: drop-shadow(0 5px 7px #6e6e6e7e);
  }

  100% {
    filter: drop-shadow(0 5px 7px black);
  }

}

.card_game .cards:hover {
  opacity: 0.5;
}

.card_game .rotate_cards {
  transform: rotateY(360deg);
  background: url('../../public/img/level/card_game_empty.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: block;
  width: 100%;
  transition: 1s all;
  height: 240px;
}

.card_game .card_item {
  display: none;
  position: relative;
  text-align: center;
  top: calc(50% - 20px);
  left: 0;
  opacity: 0;
  transition: 20s all;
}

.card_game .card_item img {
  width: 70px;
}

.card_game .rotate_cards .card_item {
  opacity: 1;
  display: block;
}

.lancer {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 1;
}

.play_after .empty_coin .btn_play {
  width: 100%;
  margin: 0 auto;
  max-width: 250px;
}

.play_after #next_level {
  width: 100%;
  margin: 0 auto;
  max-width: 250px;
}

.play_after {
  display: flex;
  justify-content: center;
}

#levels .close_chest_bonus {
  width: 180px !important;
}

#levels .btn_play {
  background: #000000ad;
  box-shadow: 4px 4px 0px #00000017;
  height: 50px;
  width: 100%;
  line-height: 3.5;
  padding: 0;
  margin: 0;
  z-index: 1;
}

#levels .btn_play:hover,
#levels .btn_shop:hover {
  box-shadow: 4px 4px 0px #00000017;
  color: #fff;
  background: #000000ad;
  transform: translateY(0);
  text-shadow: 0px 3px 4px #00000073;
}

.cards_disabled {
  pointer-events: none;
}

.update_attempting {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-family: "Henny", sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
}

.update_attempting img {
  max-width: 300px;
}

.display_none {
  display: none !important;
}

.shop .grid_shop.no_grid {
  grid-template-columns: 1fr;
}

/* Portrait layout (default) */

#deviceready {
  display: none !important;
}

.app {
  text-align: center;
  padding: 80px 0px 0px 0px;
  /* image height is 200px (bottom 20px are overlapped with text) */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .app {
    background-position: left center;
    padding: 75px 0px 75px 170px;
    /* padding-top + padding-bottom + text area = image height */
    margin: -90px 0px 0px -198px;
    /* offset vertical: half of image height */
    /* offset horizontal: half of image width and text area width */
  }
}

.hidden {
  display: none;
}

@keyframes fade {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1.0;
  }
}

.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}

.avatar_gplay {
  width: 35px;
  border-radius: 50%;
}

.scores {
  letter-spacing: 1px;
  font-size: 12px;
}
