<!DOCTYPE html>
<html>

<head>
  <title><%= productName %></title>

  <meta charset="utf-8">
  <meta name="description" content="<%= productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
  <link rel="icon" type="image/ico" href="favicon.ico">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fruktur&display=swap" rel="stylesheet">

  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>

</head>

<body>

  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>

  <!-- Footer -->
  <script src="js/bootstrap.min.js"></script>

  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/jquery.cookie.js"></script>

  <script type="text/javascript">
    function onDeviceReady() {
      //screen.orientation.lock('portrait-primary');
      screen.orientation.lock('landscape');
      WonderPush.subscribeToNotifications();
    }

    document.addEventListener('deviceready', function () {
      onDeviceReady()
    });

  </script>

  <!-- Paypal -->
  <script
    src="https://www.paypal.com/sdk/js?client-id=ATOU5-sqzkvt2rLQxvmaM_JA4Rln1U2ON6oyABn09HP0wHut6n_SpN2Q-kSeFwsY5StfnuwurG5D2sso&enable-funding=venmo&currency=EUR"
    data-sdk-integration-source="button-factory"></script>

  <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>

  <script>
    setTimeout(() => {
      PayPal.Donation.Button({
        env: 'production',
        hosted_button_id: '82SH225VPCX5C',
        image: {
          src: 'img/gem.png',
          alt: 'Faites un don avec PayPal !',
          title: 'Faites un don avec PayPal !',
        }
      }).render('#donate-button');
    }, 1600);

  </script>

</body>

</html>
